:root[data-theme='dark'] {
  --colour-content: #fff;
  --colour-background: #2c3645;
  --colour-heading-small: #ffffd4;
  --colour-heading-medium: #b2e1ff;
  --colour-heading-large: #ffffff;
}

:root[data-theme='light'] {
  --colour-text: #000;
  --colour-background: #fff;
  --colour-title: #000;
  --colour-heading-small: #000;
  --colour-heading-medium: #000;
  --colour-heading-large: #000;
}
