@import './css/normalize.css';
@import './css/fonts.css';
@import './css/colours.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  scroll-behavior: smooth;
}

body {
  color: var(--colour-content);
  background-color: var(--colour-background);
  font-weight: var(--font-weight-content);
  line-height: var(--line-height-content);
}

h1, h2, h3 {
  text-align: center;
}

h1 {
  font-weight: var(--font-weight-heading-large);
  font-size: var(--font-size-heading-large);
  color: var(--colour-heading-large);
}

h2 {
  font-weight: var(--font-weight-heading-medium);
  font-size: var(--font-size-heading-medium);
  color: var(--colour-heading-medium);
  margin-bottom: 1rem;
}

h3 {
  font-weight: var(--font-weight-heading-medium);
  font-size: var(--font-size-heading-small);
  color: var(--colour-heading-small);
  margin-bottom: 1rem;
}

.stack-sm > * + * {
  margin-top: 0.5rem;
}
  
.stack-md > * + * {
  margin-top: 1rem;
}

.stack-lg > * + * {
  margin-top: 2rem;
}

.stack-xl > * + * {
  margin-top: 4rem;
}

.horiz-stack-sm > * + * {
  margin-left: 0.5rem;
}