@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-text: #fff;
  --color-background: #2c3645;
  --color-title: #ffffd4;
}

body {
  color: var(--color-text);
  background: var(--color-background);
  font-size: 18px;
}

.title {
  color: var(--color-title);
}
