@import './css/normalize.css';
@import './css/fonts.css';
@import './css/colours.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  scroll-behavior: smooth;
}

body {
  color: var(--colour-content);
  background-color: var(--colour-background);
  font-weight: var(--font-weight-content);
  line-height: var(--font-weight-content);
}

h1, h2, h3 {
  font-weight: var(--font-weight-heading);
}

h1 {
  font-size: var(--font-weight-heading-large);
  color: var(--color-heading-large);
}

h2 {
  font-size: var(--font-weight-heading-medium);
  color: var(--color-heading-medium);
}

h3 {
  font-size: var(--font-weight-heading-small);
  color: var(--color-heading-small);
}

