.navButton {
  @apply rounded-t-lg bg-gray-600 px-5 py-1 text-white;
  font-size: 1.4rem;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;

  &:hover {
    @apply bg-gray-500;
  }

  &.isActive {
    @apply bg-red-400;
    border-bottom: 2px solid rgb(138, 254, 138);
  }
}

.navButtonMobile {
  @apply mb-5 w-fit rounded-lg bg-gray-600 px-1 py-2 text-white;
  font-size: 2rem;
  transition: all 0.2s ease-in-out;

  &:hover {
    @apply bg-gray-500;
  }

  &.isActive {
    @apply bg-red-400;
  }
}
