.navButton {
  @apply rounded-t-lg bg-gray-600 px-5 h-full text-white;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease-in-out;

  &:hover {
    @apply bg-gray-500;
  }

  &.isActive {
    @apply bg-red-400;
    border-bottom: 2px solid rgb(138, 254, 138);
  }
}
